---
import Banner from "../blocks/Banner.astro";
import Work from "../blocks/Work.astro";
import About from "../blocks/About.astro";
import Footer from "../blocks/Footer.astro";

import "../styles/reset.css";
import "../styles/main.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Carl Humphreys</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<main>
			<Banner />
			<Work />
			<About />
		</main>
		<Footer />
		<div class="js-spotlight spotlight"></div>
	</body>
</html>
<script src="../scripts/spotlight.ts"></script>
<style>
	body {
		position: relative;
		isolation: isolate;
	}
	.spotlight {
		position: fixed;
		z-index: -1;
		width: 500px;
		height: 500px;
		top: 0;
		left: 0;

		background-image: radial-gradient(
			50% 50%,
			var(--colour-primary),
			transparent
		);
		filter: blur(100px);
		background-size: contain;
		opacity: 0.3;
	}
</style>
<script>
	import Lenis from "lenis";

	declare global {
		interface Window {
			lenis: Lenis;
		}
	}

	const lenis = new Lenis();

	function raf(time: number) {
		lenis.raf(time);
		requestAnimationFrame(raf);
	}

	requestAnimationFrame(raf);

	window.lenis = lenis;
</script>
