<span class="tag">
    <slot />
</span>
<style>
    .tag {
        font-size: var(--fs-12);

        display: inline-flex;
        padding: var(--spacing-6) var(--spacing-10);

        background-color: rgba(var(--colour-primary-rgba), 0.2);
        color: var(--colour-primary);
        text-align: center;

        border-radius: var(--radius-full);
    }
</style>
