---
import InstagramIcon from "../components/icons/instagram.astro";
import LinkedInIcon from "../components/icons/linkedin.astro";
---

<footer class="footer container">
    <div class="footer__inner">
        <p>Made with ☕️ by <span class="text-secondary">me</span></p>
        <p>
            Built with <span class="text-secondary">HTML</span>, <span
                class="text-secondary">CSS</span
            > & <span class="text-secondary">Typescript</span> using <span
                class="text-secondary">Astro</span
            >
        </p>
        <div class="footer__socials">
            <a class="footer-social-link" href="#">
                <div class="sr-only">Carl's LinkedIn profile</div>
                <LinkedInIcon />
            </a>
            <a class="footer-social-link" href="#">
                <div class="sr-only">Carl's Instagram profile</div>
                <InstagramIcon />
            </a>
        </div>
    </div>
</footer>

<style>
    .footer {
        padding-top: var(--spacing-6);
        padding-bottom: var(--spacing-6);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3);
        text-align: center;
    }

    .footer__socials {
        display: flex;
        justify-content: center;
        gap: var(--spacing-2);
    }

    .footer-social-link {
        width: 24px;
        height: 24px;

        color: var(--colour-text-base);
        transition: color 350ms ease;
    }

    .footer-social-link:hover {
        color: var(--colour-primary);
    }

    @media (min-width: 1024px) {
        .footer {
            padding-top: var(--spacing-8);
        }
    }
</style>
