---
import { LinkedInIcon } from "../components/Icon.astro";
---

<footer class="footer container">
    <div class="footer__inner">
        <p>Made with ☕️ by <span class="text-primary">me</span></p>
        <p>
            Built with <span class="text-primary">HTML</span>, <span
                class="text-primary">CSS</span
            > & <span class="text-primary">Typescript</span> using <span
                class="text-primary">Astro</span
            >
        </p>
        <div class="footer__socials">
            <a
                class="footer-social-link"
                href="https://www.linkedin.com/in/carl-humphreys-103b59b2/"
                target="_blank"
            >
                <div class="sr-only">Carl's LinkedIn profile</div>
                <LinkedInIcon />
            </a>
        </div>
    </div>
</footer>

<style>
    .footer {
        padding-top: var(--spacing-80);
        padding-bottom: var(--spacing-80);
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-30);
        text-align: center;
    }

    .footer__socials {
        display: flex;
        justify-content: center;
        gap: var(--spacing-20);
    }

    .footer-social-link {
        width: 24px;
        height: 24px;

        color: var(--colour-text-base);
        transition: color 350ms ease;
    }

    .footer-social-link:hover {
        color: var(--colour-primary);
    }

    @media (min-width: 1024px) {
        .footer {
            padding-top: var(--spacing-120);
        }
    }
</style>
